* {
  margin: 0;
  padding: 0;
}
.slider {
  margin: 0 auto;
  margin-top: 30px;
  height: 450px;
  width: 600px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

.article-img img {
  border-radius: 50%;
}
.article {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.7s;
}

.active-slider {
  transform: translateX(0);
  opacity: 1;
}

.next-slider {
  transform: translateX(100%);
}

.last-slider {
  transform: translateX(-100%);
}

@media only screen and (max-width: 700px) {
  .slider {
    width: 80%;
    height: 80vh;
  }
}
